@import '../../../sass/variables';
@import '../../../sass/mixins';
.home-reviews {
    float: left;
    width: 50%;
    .title {
        &:after {
            left: 0;
            transform: translateX(0);
        }
    }
    h2{
        margin: 25px 0 50px;
    }   
    .owl-prev{
        span{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 1px solid #dddddd;
            font-size: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .owl-next{
        font-size: 35px;
        span{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 1px solid #dddddd;
            font-size: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .reviews-item{
        padding: 40px 50px;       
        box-shadow: 0px 6px 20px 2px #f0f0f0;        
        .text{
            font-style: italic;
            font-size: 16px;
        }
        .author{
            font-size: 16px;
            font-weight: 600;
            margin: 25px 0 0;
        }
        .address{
            color: #888;
        }
    }
}