<div class="home-reviews">
	<div class="content">
		<div class="title">For Better Welness & Hope</div>
		<h2>Patient’s Reviews</h2>
		<owl-carousel class="reviews-list" [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
			<div class="reviews-item">
				<div class="info">
					<div class="text">
						Medical prissy so smiling a before cantans kerously much notwit
						ahstan dingt hungry towards dear as darn more cavalier hatche
						pending rid boa yet more across caterpillar unwound terier crud
						misread less this globefish positively drank.
					</div>
					<div class="author">Martina Thomas</div>
					<div class="address">Newyork, USA</div>
				</div>
			</div>
			<div class="reviews-item">
				<div class="info">
					<div class="text">
						Medical prissy so smiling a before cantans kerously much notwit
						ahstan dingt hungry towards dear as darn more cavalier hatche
						pending rid boa yet more across caterpillar unwound terier crud
						misread less this globefish positively drank.
					</div>
					<div class="author">Martina Thomas</div>
					<div class="address">Newyork, USA</div>
				</div>
			</div>
			<div class="reviews-item">
				<div class="info">
					<div class="text">
						Medical prissy so smiling a before cantans kerously much notwit
						ahstan dingt hungry towards dear as darn more cavalier hatche
						pending rid boa yet more across caterpillar unwound terier crud
						misread less this globefish positively drank.
					</div>
					<div class="author">Martina Thomas</div>
					<div class="address">Newyork, USA</div>
				</div>
			</div>
		</owl-carousel>
	</div>
</div>