@import '../../../sass/variables';

.home-banner{
    background: #7a7a7a;
    color: #fff;
    display: inline-block;
    width: 100%;
    p{
        font-size: 18px;        
    }
    h2{
        font-weight: 800;
        font-size: 54px;
        color: #fff;
    }
    h3{
        font-size: 44px;
        color: #fff;
    }    
    .inner{
        border: 5px solid #fff;
        margin: 200px 0 200px;
        p{
            color: #fff;
            background: #7a7a7a;
            display: inline-block;
            padding: 0 44px;
            position: relative;
            top: -17px;
        }
        .learn-more{
            text-transform: uppercase;      
            background: #7a7a7a;
            padding: 0 40px;  
            font-size: 16px;
            font-weight: 600;
            color: #fff;      
            top: 24px;
            position: relative;
            margin: 20px 0 0;
            display: inline-block;
            span{
                display: inline-block;
                border: 2px solid #fff;  
                padding: 12px 40px;
            }
        }
    }
    .icon{
        margin-bottom: -50%;
        display: inline-block;
        background: $color-orange;
        border-radius: 50%;
        padding: 25px 16px;
        border: 8px solid #a59d9d;
    }
}