<div class="home-banner text-center">
	<div class="container">
		<div class="content">
			<div class="inner">
				<p>Goodness for since on because sniffed murky blinked</p>
				<h2>Quality Psychological Help</h2>
				<h3>For Better Wellness & Hope</h3>
				<a class="learn-more" href="#" title="Learn more"><span>learn more</span></a>
			</div>
			<a class="icon" href="#"><img src="assets/images/icon-banner.png" alt="Icon"></a>
		</div>
	</div>
</div>