@import '../../../sass/variables';

.book-appointment {
    padding: 14px 30px;
    background: #1c8fa9;
    color: #fff;
    text-transform: uppercase;
}
.top-link {
    background: $color-blue;
    color: #fff;
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .top-info {
            display: flex;
            align-items: center;
            p {
                color: #fff;
                padding: 0 20px;
                line-height: 1.1;
                border-left: 1px solid #c4eaf2;
                &:last-child {
                    border-right: 1px solid #c4eaf2;
                }
                a{
                    color: #fff;
                }
            }
        }
        .top-social {
            display: flex;
            align-items: center;
            p{
                color: #fff;
            }
            .inner {
                display: flex;
                align-items: center;
                ul {
                    margin: 0 30px 0 10px;
                    li {
                        float: left;
                        padding: 0 10px;
                        a{
                            color: #fff;
                        }
                    }
                }
            }            
        }
    }
}

.header-container {
    padding: 26px 0;
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form-inline{
            .form-control{
                display: none;
            }
        } 
        .navbar {
            padding: 0;
            .btn{
                padding-left: 0;
                padding-right: 0;
            }
            .navbar-nav {
                padding: 0 20px 0 0;
                .nav-link {
                    color: #222;
                    font-size: 16px;
                    padding: 0 20px;
                }
            }
        }
    }
    &.option{
        background: #7a7a7a;        
        .logo{
            margin:  0 0 0 30px;
        }
        .book-appointment{
            margin: 0 30px 0 0;
        }
        .content{
            .navbar{
                .navbar-nav{
                    .nav-item{
                        .nav-link{
                            line-height: 1;
                            padding: 0 20px;
                            color: #fff;
                        }
                        &:last-child{
                            .nav-link{
                                font-size: 16px;
                                color: $color-blue;
                                border-left: 1px solid #b3b3b3;
                            }                    
                        }
                    }
                }
            }
        }        
    }
}