<header *ngIf="optionHeader; else opHeader">
	<div class="top-link">
		<div class="container">
			<div class="content">
				<div class="top-info">
					<p>Phone: <a [href]="'tel:'+phoneNumber" title="{{phoneNumber}}">{{phoneNumber}}</a></p>
					<p><a [href]="'mailto:'+mailLink" title="{{mailLink}}">{{mailLink}}</a></p>
				</div>				
				<div class="top-social">
					<div class="inner">
						<p class="text-capitalize">Follow us:</p>
						<ul>
							<li>
								<a [href]="twitterLink" target="_blank"><i class="fab fa-twitter"></i></a>
							</li>
							<li>
								<a [href]="facebookLink" target="_blank"><i class="fab fa-facebook-square"></i></a>
							</li>
							<li>
								<a [href]="googleLink" target="_blank"><i class="fab fa-google-plus-g"></i></a>
							</li>
						</ul>
					</div>
					<a class="book-appointment" [href]="bookLink" title="book an appointment">book an appointment</a>
				</div>
			</div>
		</div>
	</div>
	<div class="header-container">
		<div class="container">
			<div class="content">
				<div class="logo">
					<img src="assets/images/logo.png" alt="Aleanta" />
				</div>
				<nav class="navbar navbar-expand-sm navbar-light">
					<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
					 aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="collapsibleNavId">
						<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
							<li *ngFor="let link of menuLink" class="nav-item">
								<a class="nav-link" href="{{link.url}}" title="{{link.title}}">{{link.name}}</a>
							</li>							
						</ul>
						<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="text" placeholder="Search">
							<button class="btn" type="submit"><i class="fas fa-search"></i></button>
						</form>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
<ng-template #opHeader>
	<header>	
		<div class="header-container option">
			<div class="content">
				<div class="logo">
					<img src="assets/images/logo-2.png" alt="Aleanta" />
				</div>
				<nav class="navbar navbar-expand-sm navbar-light">
					<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
						aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="collapsibleNavId">
						<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
							<li class="nav-item">
								<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#" title="About">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#" title="Services">Services</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#" title="Departments">Departments</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#" title="News">News</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#" title="Contact">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" [href]="'tel:'+phoneNumber" title="{{phoneNumber}}">{{phoneNumber}}</a>
							</li>
						</ul>						
					</div>
				</nav>
				<a class="book-appointment" href="#" title="book an appointment">book an appointment</a>
			</div>
		</div>
	</header>
</ng-template>