<div class="home-choose">
	<div class="container">
		<div class="content">
			<div class="title">For Better Welness & Hope</div>
			<h2 class="text-left">Why Choose Aleanta</h2>
			<div class="choose-inner">
				<p>Medical prissy so smiling a before cantans kerously much notwithstan sed ipsum dingsa hungry towards dear as
					darn more cavalier hatchet far lorem volptate pending rido yet more across caterpillar unwound terrier
					sanctimniously good swarum thones gosh much stoic without piranha before ipsumel this byso.</p>
				<p>One wow wherever a that past reined bitterly raccoon became very rich duiscanny hyps tically because
					inoffensively after taped intolerable.</p>
				<div class="author">
					<div class="author-link">					
						<video controls width="200" height="120" poster="assets/images/icon-play.png">
							<source src="assets/video/Red Bull Fantasy Line (540p).mp4" type="video/mp4">
							Your browser does not support the video tag.
						</video>
					</div>
					<div class="author-info">
						<div class="name">Dr. Sophia William</div>
						<div class="sub-name">Chief Psychiatrist, Ph.D</div>
						<div class="sign">Sophia William</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>