@import '../../../sass/variables';
@import '../../../sass/mixins';

.home-choose{
    display: inline-block;
    width: 100%;
    float: left;
    margin: 180px 0 0;
    .content{
        padding: 0 30px;
        .title{
            &:after{
                left: 0;
                transform: translateX(0);
            }
        }
        .text-left{
            margin: 20px 0 15px;
        }
        .choose-inner{
            width: 50%;
            float: left;
            p{
                margin: 0 0 30px;
                line-height: 1.8;
            }
            .author{
                video{
                    background: $color-blue  no-repeat;
                    object-fit: scale-down;
                }
                .author-link{
                    float: left;
                    margin: 0 25px 0 0;
                }
                .author-info{
                    float: left;
                    .name{
                        font-size: 18px;
                        font-weight: 600;
                        font-style: italic;
                    }
                    .sub-name{
                        font-size: 12px;
                        color: #888;
                    }
                    .sign{
                        font-family: 'MoonAndChips Demo';
                        font-size: 48px;
                        color: $color-blue;
                    }
                }
            }
        }
    }
}