<div class="home-appointment">
	<div class="container">
		<div class="content">
			<div class="inner">
				<div class="title-h">
					<div class="name">Make an Appointment</div>
					<p><i class="fas fa-phone-square"></i><span>Call Us Today </span><a href="tel:9252367498" title="925-236-7498">925-236-7498</a></p>
				</div>
				<form [formGroup]="homeForms" (ngSubmit)="formValidate()" class="contact-form">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<input formControlName="fullName" class="form-control" size="40" type="text" placeholder="Full Name">
							</div>
							<div *ngIf="message.messageName != null" class="error error-pass">{{message.messageName}}</div>
						</div>						
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<input formControlName="email" class="form-control" size="40" type="email" value="" placeholder="Email Address">
							</div>
							<div *ngIf="message.messageEmail" class="error error-pass">{{message.messageEmail}}</div>
						</div>						
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<input class="form-control" type="tel" placeholder="Phone">
							</div>
						</div>						
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<input formControlName="subject" class="form-control" placeholder="Subject">
							</div>
							<div *ngIf="message.messageSubject != null" class="error error-pass">{{message.messageSubject}}</div>
						</div>						
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="form-group date">
								<input class="form-control" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" placeholder="Select a Date">
								<i class="far fa-calendar-alt"></i>					
								<owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>		
							</div>
						</div>						
						<div class="col-xs-12 col-sm-6">
							<div class="form-group time">
								<input class="form-control" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" placeholder="Select Time">
								<i class="fas fa-clock"></i>
								<owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
							</div>
						</div>						
					</div>
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<textarea formControlName="content" class="col-12" rows="2" placeholder="Message"></textarea>
							</div>
							<div *ngIf="message.messageContent != null" class="error error-pass">{{message.messageContent}}</div>
						</div>
					</div>
					<div class="form-group">
						<p class="text-center"><input class="send-message" type="submit" value="Send message"></p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>