@import '../../../sass/variables';
@import '../../../sass/mixins';
.home-appointment {
    .content {
        padding: 0 95px 0;
        .inner {
            padding: 80px 80px 45px;
            background: $color-blue;
        }
        .title-h {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .name {
                color: #fff;
                font-weight: 700;
                font-size: 30px;
                position: relative;
                padding: 0 0 5px;
                &:after {
                    position: absolute;
                    content: '';
                    width: 50px;
                    height: 1px;
                    background: #fff;
                    left: 0;
                    bottom: 0;
                }
            }
            p {
                color: #fff;
                font-size: 16px;
                span {
                    margin: 0 10px;
                }
                a {
                    color: #fff;
                    font-weight: 700;
                }
            }
        }
        .contact-form {
            margin: 55px 0 0;
            .error-pass{
                color: red;
                margin: 0 0 15px;
            }
            .col-sm-6 {
                &:first-child {
                    padding-right: 7px;
                }
                &:last-child {
                    padding-left: 7px;
                }
            }
            .form-group {
                position: relative;
                i {
                    position: absolute;
                    content: "\f073";
                    font-family: 'Font Awesome\ 5 Free';
                    right: 20px;
                    color: #ccc;
                    cursor: pointer;
                    @include v-align;
                }
                &.date i {
                    content: "\f073";
                }
                &.time i {
                    content: "\f017";
                }
                .form-control {
                    color: #222;
                    padding: 0 25px;
                    height: 55px;
                    border-radius: 0;
                    border: 0;
                    box-shadow: 0 0 0;
                    outline: 0;
                    &::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color:#222;
                    }
                    &::-moz-placeholder {
                        /* Firefox 19+ */
                        color: #222;
                    }
                    &:-ms-input-placeholder {
                        /* IE 10+ */
                        color: #222;
                    }
                    &:-moz-placeholder {
                        /* Firefox 18- */
                        color: #222;
                    }
                }
                textarea {
                    padding: 25px;
                    color: #222;
                    &::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color:#222;
                    }
                    &::-moz-placeholder {
                        /* Firefox 19+ */
                        color: #222;
                    }
                    &:-ms-input-placeholder {
                        /* IE 10+ */
                        color: #222;
                    }
                    &:-moz-placeholder {
                        /* Firefox 18- */
                        color: #222;
                    }
                }
                .send-message {
                    background: $color-orange;
                    margin: 15px 0 0;
                    cursor: pointer;
                    padding: 15px 50px;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 700;
                }                
            }
        }
    }
}