@import '../../../sass/variables';
@import '../../../sass/mixins';
    
.home-articles {
    float: left;
    width: 50%;
    .title {
        &:after {
            left: 0;
            transform: translateX(0);
        }
    }
    h2{
        margin: 25px 0 0;
    }
    h4{
        margin: 10px 0 15px;
    }
    .articles-list {
        margin: 50px 40px 0 0;
        .articles-item {
            margin: 0 0 80px;
            >div {
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                .img {
                    width: 25%;
                    height: 100px;
                    background: #ccc;
                    display: flex;
                    justify-content: center;
                    img{
                        max-height: 100%;
                    }
                }
                .info {
                    padding: 0 0 0 25px;
                    width: 75%;
                    .date {
                        font-style: italic;
                        color: $color-blue;
                    }
                }
            }
        }
    }
}