<div class="home-articles">
	<div class="content">
		<div class="title">For Better Welness & Hope</div>
		<h2>Recent Articles</h2>
		<ul class="articles-list">
			<li class="articles-item">
				<div>
					<div class="img">
						<img src="assets/images/demo2.jpg" alt="">
					</div>
					<div class="info">
						<div class="date">Posted: Sep 29, 2018</div>
						<h4>Benefits of Aleanta Services</h4>
						<div class="des">One wow wherever a that past reined bitterly racco became canny hypn tically you because ...</div>
					</div>
				</div>
			</li>
			<li class="articles-item">
				<div>
					<div class="img">
						<img src="assets/images/demo1.jpg" alt="">
					</div>
					<div class="info">
						<div class="date">Posted: Sep 29, 2018</div>
						<h4>Benefits of Aleanta Services</h4>
						<div class="des">One wow wherever a that past reined bitterly racco became canny hypn tically you because ...</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>