@import '../../../sass/variables';
@import '../../../sass/mixins';

.home-pricing {
    display: inline-block;
    width: 100%;
    margin: 115px 0 0;
    background: #fff5ee;
    padding: 95px 0 100px;
    h2 {
        line-height: 1.3;
        margin: 25px 0 0;
    }
    h4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pricing-list {
        margin: 60px 0 0;
        .pricing-item {
            &:nth-child(2n) {
                padding-left: 30px;
            }
            &:nth-child(2n + 1) {
                padding-right: 30px;
            }
            >div {
                border-bottom: 1px solid #e5dcd6;
                padding: 0 0 20px;
                margin: 0 0 25px;
            }
            .info {
                small {
                    font-size: 12px;
                    color: #888;
                    font-style: italic;
                }
            }
        }
    }
    .view-all {
        margin: 40px 0 0;
        text-align: center;
        a {
            display: inline-block;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
            background: $color-blue;
            color: #fff;
            padding: 16px 50px;
        }
    }
}