<div class="home-pricing">
	<div class="container">
		<div class="content">
			<div class="title text-center">For Better Welness & Hope</div>
			<h2 class="text-center">Pricing Information</h2>
			<div class="pricing-list">
				<ul class="row">
					<li class="pricing-item col-md-6">
						<div>
							<div class="info">
								<h4>Anxiety Disorders<span class="price">$962</span></h4>
								<small>Full checkup with Medical Tests in Labs sed ipsum loren incident</small>
							</div>							
						</div>
					</li>
					<li class="pricing-item col-md-6">
						<div>
							<div class="info">
								<h4>Compulsive Disorder<span class="price">$962</span></h4>
								<small>Full checkup with Medical Tests in Labs sed ipsum loren incident</small>
							</div>							
						</div>
					</li>
					<li class="pricing-item col-md-6">
						<div>
							<div class="info">
								<h4>Sleep Disorders<span class="price">$1560</span></h4>
								<small>Full checkup with Medical Tests in Labs sed ipsum loren incident</small>
							</div>							
						</div>
					</li>
					<li class="pricing-item col-md-6">
						<div>
							<div class="info">
								<h4>Managing Depression<span class="price">$1560</span></h4>
								<small>Full checkup with Medical Tests in Labs sed ipsum loren incident</small>
							</div>							
						</div>
					</li>
					<li class="pricing-item col-md-6">
						<div>
							<div class="info">
								<h4>Marital Therapy<span class="price">$840</span></h4>
								<small>Full checkup with Medical Tests in Labs sed ipsum loren incident</small>
							</div>							
						</div>
					</li>
					<li class="pricing-item col-md-6">
						<div>
							<div class="info">
								<h4>Chronic Pain<span class="price">$840</span></h4>
								<small>Full checkup with Medical Tests in Labs sed ipsum loren incident</small>
							</div>							
						</div>
					</li>
					<li class="pricing-item col-md-6">
						<div>
							<div class="info">
								<h4>Anxiety Disorders<span class="price">$962</span></h4>
								<small>Full checkup with Medical Tests in Labs sed ipsum loren incident</small>
							</div>							
						</div>
					</li>
					<li class="pricing-item col-md-6">
						<div>
							<div class="info">
								<h4>Anxiety Disorders<span class="price">$962</span></h4>
								<small>Full checkup with Medical Tests in Labs sed ipsum loren incident</small>
							</div>							
						</div>
					</li>
				</ul>
			</div>
			<div class="view-all"><a href="#" title="view all pricing">view all pricing</a></div>
		</div>
	</div>	
</div>