<div class="home-offers">
	<div class="container">
		<div class="content">
            <div class="title text-center">For Better Welness & Hope</div>
            <h2 class="text-center">What Aleanta Offers</h2>
            <ul class="offers-list">
                <li class="offers-item">
                    <div class="img">
                        <img src="assets/images/demo1.jpg" alt="">
                    </div>
                    <div class="info">
                        <h4>Group Therapy</h4>
                        <div class="des">However judicious and ethic squarely labrad some preparatoy armdil aliqua enim ad minim veniam quis.</div>
                        <img src="assets/images/icon-offers-1.png" alt="">
                    </div>
                </li>
                <li class="offers-item">
                    <div class="img">
                        <img src="assets/images/demo2.jpg" alt="">
                    </div>
                    <div class="info">
                        <h4>Couples Therapy</h4>
                        <div class="des">However judicious and ethic squarely labrad some preparatoy armdil aliqua enim ad minim veniam quis.</div>
                        <img src="assets/images/icon-offers-2.png" alt="">
                    </div>
                </li>
                <li class="offers-item">
                    <div class="img">
                        <img src="assets/images/demo3.jpg" alt="">
                    </div>
                    <div class="info">
                        <h4>Children Therapy</h4>
                        <div class="des">However judicious and ethic squarely labrad some preparatoy armdil aliqua enim ad minim veniam quis.</div>
                        <img src="assets/images/icon-offers-3.png" alt="">
                    </div>
                </li>
            </ul>
		</div>
    </div>
    <div class="our-patients text-center">
        <div class="container">
                <h2><span>Our patients at Aleanta gets</span><br>Special Care <span>&</span> Attention <span>they need</span></h2>
                <p>About psyco this however woodpecker from hey slackly contagiously and much under then bat iguanodon about divisive hello ducked goodness wow far one circa mischievous one excepting far bore speechlessly much ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt labore et dolore.</p>
        </div>        
    </div>
</div>