@import '../../../sass/variables';
@import '../../../sass/mixins';

.home-offers{
    margin: 90px 0 0;
    h2{
        margin: 25px 0 0;
        line-height: 1.2;
        span{
            font-weight: 400;
        }
    }
    .offers-list{
        margin: 60px 0 0;       
        .offers-item{
            float: left;
            width: 33.33%;            
            &:nth-child(1){
                .img{
                    background: $color-xam1;
                }
            }
            &:nth-child(2){
                .img{
                    background: $color-xam2;
                }
            }
            &:nth-child(3){
                .img{
                    background: $color-xam1;
                }
            }
            .img{
                height: 285px;
                display: flex;
                img{
                    object-fit: cover;
                }
            }
            .info {
                position: relative;
                padding: 30px 40px 60px;
                background: #fff;
                h4{
                    margin: 0 0 10px;
                }
                .des{
                    position: relative;
                    z-index: 2;
                }
                img{
                    position: absolute;
                    right: 40px;
                    bottom: 0;
                    z-index: 1;
                }
            }
        }
    }
    .our-patients{
        display: inline-block;
        width: 100%;
        background: #fdefe6;
        color: #333;
        padding: 270px 0 85px;
        margin-top: -195px;
        h2{
            margin-bottom: 25px;
        }
        p{
            font-size: 16px;
            padding: 0 115px;
            margin: 0 0 10px;
        }
    }
}