body, div, main, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    font-size: 14px;
	line-height: 1.6;
	color: #222;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    box-shadow: 0 0 0;
    border: 0;
    border-radius: 0;
}

* {
	box-sizing: border-box;
}

main {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

ul {
	li {
		list-style: none;
	}
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

a {
	text-decoration: none;
}

/*to enable resizing for IE*/
input, textarea, select {
	*font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
	color: #000;
}

del, ins {
	text-decoration: none;
}