@import './reset';
@import './mixins';
@import './variables';
@font-face {
    font-family: 'MoonAndChips Demo';
    src: url('../assets/fonts/MoonChips-Demo.ttf') format("truetype");
}

.title {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    &:after {
        position: absolute;
        content: "";
        width: 50px;
        height: 1px;
        background: $color-blue;
        @include h-align;
        bottom: -8px;
    }
}

h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

h4 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.articles-reviews{
    margin: 100px 0 0;
}