<footer>
	<div class="container">
		<div class="footer-logo">
			<img src="assets/images/icon-banner.png" alt="">
			<span>aleanta</span>
		</div>
		<div class="footer-links">
			<ul>
				<li><a href="#" title="Home">home</a></li>
				<li><a href="#" title="About">About</a></li>
				<li><a href="#" title="Services">Services</a></li>
				<li><a href="#" title="Departments">Departments</a></li>
				<li><a href="#" title="News">News</a></li>
				<li><a href="#" title="Contact">Contact</a></li>
			</ul>
		</div>
		<div class="footer-social">
			<ul>
				<li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#" title="Facebook"><i class="fab fa-facebook"></i></a></li>
				<li><a href="#" title="Google"><i class="fab fa-google-plus-g"></i></a></li>
				<li><a href="#" title="Pinterest"><i class="fab fa-pinterest-p"></i></a></li>
			</ul>
		</div>
		<div class="copyright">Copyrights &copy; 2018 Aleanta Psychology. All Rights Reserved.</div>
	</div>
</footer>