@import '../../../sass/variables';
@import '../../../sass/mixins';
footer {
    float: left;
    width: 100%;
    display: inline-block;
    padding: 80px 0;
    background: $color-blue;
    text-align: center;
    a {
        color: #fff;
    }
    .footer-logo {
        span {
            font-family: 'Poppins', sans-serif;
            display: block;
            color: #fff;
            font-size: 28px;
            text-transform: capitalize;
        }
    }
    .footer-links {
        margin: 30px 0;
        li {
            display: inline-block;
            border-left: 1px solid #c4eaf2;
            padding: 0 40px;
            &:first-child {
                border: 0;
            }
            a {
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
    .footer-social {
        ul{
            li{
                display: inline-block;
                margin: 0 5px;
            }
        }
        a {
            i {
                font-size: 20px;
                width: 40px;
                height: 40px;
                border: 1px solid #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .copyright{
        color: #fff;
        font-weight: 600;
        margin: 50px 0 0;
    }
}