<app-header></app-header>
<app-home-banner></app-home-banner>
<app-home-appointment></app-home-appointment>
<app-home-offers></app-home-offers>
<app-home-conditions></app-home-conditions>
<app-home-choose></app-home-choose>
<app-home-pricing></app-home-pricing>
<div class="articles-reviews">
    <div class="container">
        <app-home-articles></app-home-articles>
        <app-home-reviews></app-home-reviews>
    </div>    
</div>
<app-home-contact></app-home-contact>
<app-footer></app-footer>