@import '../../../sass/variables';
@import '../../../sass/mixins';

.home-conditions {
    margin: 90px 0 0;
    display: inline-block;
    width: 100%;
    h2 {
        margin: 20px 0 0;
    }
    .conditions-list {
        margin: 55px 0 0;
        .row{
            &:first-child{
                .conditions-item{
                    > div{
                        border-bottom: 1px solid #eee;
                        padding: 0 0 50px;
                    }
                }                    
            }
        }  
        .conditions-item {            
            margin: 0 0 50px;    
            > div{
                display: flex;
                width: 100%;
            }                
            .img {
                width: 23%;
            }
            .info {
                width: 77%;
                padding: 0 0 0 25px;
                small {
                    font-size: 12px;
                    font-weight: 300;
                    color: #444;
                    margin: 0 0 20px;
                    display: block;
                }
            }
        }
    }
    .conditions-img{
        float: left;
        display: inline-block;
        width: 100%;
        margin: 40px 0 0;
        .img-item{
            width: 25%;
            float: left;
            height: 340px;
            background: $color-xam2;
            display: flex;
            align-items: stretch;
            &:nth-child(2n){
                background: $color-xam1;
            }
            img{
                object-fit: cover;
            }
        }
    }
    .conditions-stats{
        float: left;
        display: inline-block;
        width: 100%;
        padding: 130px 0 0;
        background: $color-blue;
        .stats-list{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 -30px;
            .stats-item{
                position: relative;
                margin: 0 15px;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 46px 105px;
                background: #fff;
                color: #222;
                box-shadow: 0px 6px 20px 2px #f0f0f0;
                &:nth-child(2){
                    background: $color-orange;
                    > div{
                        color: #fff;
                    }                    
                }
                .count{
                    font-size: 40px;
                    font-weight: 800;
                }
                .text{
                    font-size: 16px;
                    text-transform: uppercase;
                }
                img{
                    position: absolute;
                    @include v-h-align;
                }
            }
        }
    }
}