<div class="home-conditions">
	<div class="container">
		<div class="content">
			<div class="title text-center">For Better Welness & Hope</div>
			<h2 class="text-center">Conditions We Address</h2>
			<div class="conditions-list">
				<ul class="row">
					<li class="conditions-item col-md-4">
						<div>
							<div class="img"><img src="assets/images/icon-conditions-wellness.png" alt=""></div>
							<div class="info">
								<h4>Wellness Consulting</h4>
								<small>For Better Wellness & Hope</small>
								<div class="des">Justo laoreet dignissim lectus duic etiam ipsum habitant tristique nam est donec venenatis leo</div>
							</div>
						</div>
					</li>
					<li class="conditions-item col-md-4">
						<div>
							<div class="img"><img src="assets/images/icon-conditions-privacy.png" alt=""></div>
							<div class="info">
								<h4>Privacy Protection</h4>
								<small>For Better Wellness & Hope</small>
								<div class="des">Justo laoreet dignissim lectus duic etiam ipsum habitant tristique nam est donec venenatis leo</div>
							</div>
						</div>
					</li>
					<li class="conditions-item col-md-4">
						<div>
							<div class="img"><img src="assets/images/icon-conditions-remove.png" alt=""></div>
							<div class="info">
								<h4>Remove Depression</h4>
								<small>For Better Wellness & Hope</small>
								<div class="des">Justo laoreet dignissim lectus duic etiam ipsum habitant tristique nam est donec venenatis leo</div>
							</div>
						</div>
					</li>
				</ul>
				<ul class="row">
					<li class="conditions-item col-md-4">
						<div>
							<div class="img"><img src="assets/images/icon-conditions-sleep.png" alt=""></div>
							<div class="info">
								<h4>Sleep Disorders</h4>
								<small>For Better Wellness & Hope</small>
								<div class="des">Justo laoreet dignissim lectus duic etiam ipsum habitant tristique nam est donec venenatis leo</div>
							</div>
						</div>
					</li>
					<li class="conditions-item col-md-4">
						<div>
							<div class="img"><img src="assets/images/icon-conditions-stress.png" alt=""></div>
							<div class="info">
								<h4>Stress At Work</h4>
								<small>For Better Wellness & Hope</small>
								<div class="des">Justo laoreet dignissim lectus duic etiam ipsum habitant tristique nam est donec venenatis leo</div>
							</div>
						</div>
					</li>
					<li class="conditions-item col-md-4">
						<div>
							<div class="img"><img src="assets/images/icon-conditions-mental.png" alt=""></div>
							<div class="info">
								<h4>Mental Games</h4>
								<small>For Better Wellness & Hope</small>
								<div class="des">Justo laoreet dignissim lectus duic etiam ipsum habitant tristique nam est donec venenatis leo</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="conditions-img">
		<div class="img-item">
			<img src="assets/images/demo2.jpg" alt="">
		</div>
		<div class="img-item">
			<img src="assets/images/demo1.jpg" alt="">
		</div>
		<div class="img-item">
			<img src="assets/images/demo3.jpg" alt="">
		</div>
		<div class="img-item">
			<img src="assets/images/demo2.jpg" alt="">
		</div>
	</div>
	<div class="conditions-stats">
		<div class="stats-list">
			<div class="stats-item">
				<div class="count">75</div>
				<div class="text">clinic rooms</div>
				<img src="assets/images/icon-clinic.png" alt="">
			</div>
			<div class="stats-item">
				<div class="count">1.3K</div>
				<div class="text">Healthy Patients</div>
				<img src="assets/images/icon-healthy.png" alt="">
			</div>
			<div class="stats-item">
				<div class="count">26</div>
				<div class="text">medical staff</div>
				<img src="assets/images/icon-medical.png" alt="">
			</div>
			<div class="stats-item">
				<div class="count">40</div>
				<div class="text">departments</div>
				<img src="assets/images/icon-departments.png" alt="">
			</div>
		</div>
	</div>
</div>