@import '../../../sass/variables';
@import '../../../sass/mixins';

.home-contact{
    float: left;
    position: relative;
    display: inline-block;
    width: 100%;
    #map-canvas{
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    .contact-info{
        display: inline-block;
        background: $color-orange;        
        padding: 55px 93px 55px 55px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        .name{
            color: #fff;
            font-size: 24px;
            font-weight: 700;
            text-transform: capitalize;
            position: relative;
            &:after{
                position: absolute;
                content: "";
                width: 50px;
                height: 1px;
                background: #fff;
                left: 0;
                bottom: 0;
            }
        }
        ul{       
            padding: 10px 0 0;     
            li{
                font-size: 16px;
                color: #fff;
                margin: 25px 0 0;
                display: flex;
                align-items: baseline;
                i{
                    padding: 0 20px 0 0;                    
                }
                a{
                    color: #fff;
                }
            }
        }
    }
}