<div class="home-contact" [ngStyle]="{height:'500px'}">
	<div id="map-canvas" [ngStyle]="{height:'500px'}"></div>
	<div class="container">
		<div class="contact-info">
			<div class="name">contact info</div>
			<ul>
				<li><i class="fas fa-globe"></i><span>9307 Freed Drive, Stockton<br> California - 33025</span></li>
				<li><i class="fas fa-envelope-open"></i><a href="mailto:help@our-domain.org" title="help@our-domain.org">help@our-domain.org</a></li>
				<li><i class="fas fa-phone-volume"></i><a href="tel:1-4358186863" title="1-435-818-6863">1-435-818-6863</a></li>
			</ul>
		</div>		
	</div>		
</div>